*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
/*  font-family: Arial;*/
}

section{
	height: 100vh;
	width: 100%;
}

section nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
	z-index:1000;
	box-shadow:black;
	background-color:black;
	height: 90px;
}

.icons{
	fill: white;
    font-size: 25px;
	color: white;
	position: absolute;
	margin-left: 70%;
	margin-top: 1%;
	cursor: pointer;
}

.bx-search:hover{
	color: #C7D300;
}
.bx-user:hover{
	color: #C7D300;
}
.bx-shopping-bag:hover{
	color: #C7D300;
}
section nav .logo img{
	margin-top:-31px;
	padding:0PX;
	position: absolute;
	left:120px;
	cursor: pointer;
}
.bg :hover{
	color: #C7D300;
}

section nav ul{
	list-style: none;
	width: 60%;
	margin:50px;
}

section nav ul li{
	display: inline-block;
	margin:0 10px;
}

section nav ul li a{
	text-decoration: none;
	color:white;
	font-weight: 500;
	font-size: 17px;
	text-transform: uppercase;
	transition: 0.1s;
	font-family:Bahnschrift Light;
}
 section nav ul li a::after{
 	content: '';
 	width:0;
 	box-shadow: #fac031;
 	display: block;
 	transition: 0.2s linear;
}
section nav ul li a::hover::after{
	width: 100%;
}


.background-img{
	position: absolute;
	background-size: cover;
	left: 0px;
	top: 89px;
	background-image: url(30.jpg);
	height:530px;
	width: 1519px;
}
.contact h6{
	position: absolute;
	font-family:bebas neue;
    font-size:75px;
	font-weight:bold;
    letter-spacing:2px;
	top: 480px;
	right:980px;
	color: white;
}
.contact h5{
    position: absolute;
	font-family:Bahnschrift Light;
    font-size:20px;
	font-weight:bold;
	top: 445px;
	left:285px;
	color: white;
}
.contact img{
    position: absolute;
    bottom:255px;
    left:215px;
    height:20px;
    width:65px;
}




.row-1{
    position: absolute;
    height:2020px;
    width: 100%;
    background-color: #0a0a0a;
    left: 0px;
    margin-top:618px;
    
}


.box{
    position: absolute;
    height: 450px;
    width: 560px;
    bottom:1430px;
    left: 180px;
    border: 2px solid none;
}
.box img{
    position: absolute;
    height: 450px;
    width: 560px;
    transition-property: all;
    transition-duration: 1s;
    overflow: hidden;
     transition: all 1.1s;
}

.box img :hover{
    transform: scale(1.2);
    height: 480px;
    width: 580px;
}
.blog1{
    position: absolute;
    height: 120px;
    width: 480px;
    background-color: white;
    bottom:-60px;
    left: 40px;
}
.blog1 img{
    position: absolute;
    height:40px;
    width:20px;
    left:454px;
    bottom:-15px;
}
.blog1 h2{
    position: absolute;
    color: black;
    font-size: 18px;
    font-family:Bahnschrift Light;
    bottom:65px;
    left: 20px;
}
.blog1 h3{
    position: absolute;
    color: black;
    bottom: 15px;
    left: 20px;
    font-size:30px;
    font-family:'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}
.book{
    position: absolute;
    height:75px;
    width:65px;
    background-color: #C7D300;
    left: 520px;
    bottom:418px;
    left:-15px;
}
.book img{
    position: absolute;
    height:25px;
    width:25px;
    left:38px;
    bottom:2px;
}
.book h2{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:Bahnschrift Light;
    bottom:38px;
    left:15px;
}
.book h3{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:bebas neue;
    bottom:-5px;
    left:15px;
    font-size:40px;
    font-weight: bold;
}








.box1{
    position: absolute;
    height: 450px;
    width: 560px;
    background-color: white;
    bottom:1430px;
    left:780px;
}
.box1 img{
    position: absolute;
    height: 450px;
    width: 560px;
}
.blog2{
    position: absolute;
    height: 120px;
    width: 480px;
    background-color: white;
    bottom:-60px;
    left: 40px;
}
.blog2 img{
    position: absolute;
    height:40px;
    width:20px;
    left:454px;
    bottom:-15px;
}
.blog2 h2{
    position: absolute;
    color: black;
    font-size: 18px;
    font-family:Bahnschrift Light;
    bottom:65px;
    left: 20px;
}
.blog2 h3{
    position: absolute;
    color: black;
    bottom: 15px;
    left: 20px;
    font-size:30px;
    font-family:'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}
.book{
    position: absolute;
    height:75px;
    width:65px;
    background-color: #C7D300;
    left: 520px;
    bottom:418px;
    left:-15px;
}
.book img{
    position: absolute;
    height:25px;
    width:25px;
    left:38px;
    bottom:2px;
}
.book h2{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:Bahnschrift Light;
    bottom:38px;
    left:15px;
}
.book h3{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:bebas neue;
    bottom:-5px;
    left:15px;
    font-size:40px;
    font-weight: bold;
}




.box2{
    position: absolute;
    height: 450px;
    width: 560px;
    background-color:white;
    bottom:840px;
    left: 180px;
}
.box2 img{
    position: absolute;
    height: 450px;
    width: 560px;
}
.blog3{
    position: absolute;
    height: 120px;
    width: 480px;
    background-color: white;
    bottom:-60px;
    left: 40px;
}
.blog3 img{
    position: absolute;
    height:40px;
    width:20px;
    left:454px;
    bottom:-15px;
}
.blog3 h2{
    position: absolute;
    color: black;
    font-size: 18px;
    font-family:Bahnschrift Light;
    bottom:65px;
    left: 20px;
}
.blog3 h3{
    position: absolute;
    color: black;
    bottom: 15px;
    left: 20px;
    font-size:30px;
    font-family:'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}
.book{
    position: absolute;
    height:75px;
    width:65px;
    background-color: #C7D300;
    left: 520px;
    bottom:418px;
    left:-15px;
}
.book img{
    position: absolute;
    height:25px;
    width:25px;
    left:38px;
    bottom:2px;
}
.book h2{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:Bahnschrift Light;
    bottom:38px;
    left:15px;
}
.book h3{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:bebas neue;
    bottom:-5px;
    left:15px;
    font-size:40px;
    font-weight: bold;
}



.box3{
    position: absolute;
    height: 450px;
    width: 560px;
    background-color: white;
    bottom:840px;
    left:780px;
}
.box3 img{
    position: absolute;
    height: 450px;
    width: 560px;
}
.blog4{
    position: absolute;
    height: 120px;
    width: 480px;
    background-color: white;
    bottom:-60px;
    left: 40px;
}
.blog4 img{
    position: absolute;
    height:40px;
    width:20px;
    left:454px;
    bottom:-15px;
}
.blog4 h2{
    position: absolute;
    color: black;
    font-size: 18px;
    font-family:Bahnschrift Light;
    bottom:65px;
    left: 20px;
}
.blog4 h3{
    position: absolute;
    color: black;
    bottom: 15px;
    left: 20px;
    font-size:30px;
    font-family:'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}
.book{
    position: absolute;
    height:75px;
    width:65px;
    background-color: #C7D300;
    left: 520px;
    bottom:418px;
    left:-15px;
}
.book img{
    position: absolute;
    height:25px;
    width:25px;
    left:38px;
    bottom:2px;
}
.book h2{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:Bahnschrift Light;
    bottom:38px;
    left:15px;
}
.book h3{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:bebas neue;
    bottom:-5px;
    left:15px;
    font-size:40px;
    font-weight: bold;
}



.box4{
    position: absolute;
    height: 450px;
    width: 560px;
    background-color:white;
    bottom:250px;
    left: 180px;
}
.box4 img{
    position: absolute;
    height: 450px;
    width: 560px;
}
.blog5{
    position: absolute;
    height: 120px;
    width: 480px;
    background-color: white;
    bottom:-60px;
    left: 40px;
}
.blog5 img{
    position: absolute;
    height:40px;
    width:20px;
    left:454px;
    bottom:-15px;
}
.blog5 h2{
    position: absolute;
    color: black;
    font-size: 18px;
    font-family:Bahnschrift Light;
    bottom:65px;
    left: 20px;
}
.blog5 h3{
    position: absolute;
    color: black;
    bottom: 15px;
    left: 20px;
    font-size:30px;
    font-family:'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}
.book{
    position: absolute;
    height:75px;
    width:65px;
    background-color: #C7D300;
    left: 520px;
    bottom:418px;
    left:-15px;
}
.book img{
    position: absolute;
    height:25px;
    width:25px;
    left:38px;
    bottom:2px;
}
.book h2{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:Bahnschrift Light;
    bottom:38px;
    left:15px;
}
.book h3{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:bebas neue;
    bottom:-5px;
    left:15px;
    font-size:40px;
    font-weight: bold;
}



.box5{
    position: absolute;
    height: 450px;
    width: 560px;
    background-color: white;
    bottom:250px;
    left:780px;
}
.box5 img{
    position: absolute;
    height: 450px;
    width: 560px;
}
.blog6{
    position: absolute;
    height: 120px;
    width: 480px;
    background-color: white;
    bottom:-60px;
    left: 40px;
}
.blog6 img{
    position: absolute;
    height:40px;
    width:20px;
    left:454px;
    bottom:-15px;
}
.blog6 h2{
    position: absolute;
    color: black;
    font-size: 18px;
    font-family:Bahnschrift Light;
    bottom:65px;
    left: 20px;
}
.blog6 h3{
    position: absolute;
    color: black;
    bottom: 15px;
    left: 20px;
    font-size:30px;
    font-family:'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: -2px;
}
.book{
    position: absolute;
    height:75px;
    width:65px;
    background-color: #C7D300;
    left: 520px;
    bottom:418px;
    left:-15px;
}
.book img{
    position: absolute;
    height:25px;
    width:25px;
    left:38px;
    bottom:2px;
}
.book h2{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:Bahnschrift Light;
    bottom:38px;
    left:15px;
}
.book h3{
    position: absolute;
    font-size: 20px;
    color: black;
    font-family:bebas neue;
    bottom:-5px;
    left:15px;
    font-size:40px;
    font-weight: bold;
}









body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    }
    .footer1 img{
        position: absolute;
        bottom: 0px;
        left:45px;
        box-shadow: 0.5px 6px 45px 8px #464545
    }
    footer{
    background-color: black;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom:-2318px;
    position: absolute;
    width: 100%;
    height: 450px;
    }
    .footer-img img{
        position: absolute;
        left:120px;
        cursor: pointer;
        bottom:350px;
    }
    .footer-img2 h3{
        position: absolute;
        font-size: 19px;
        color: #ABB7B7;
        bottom:312px;
        left:120px;
    }
    .footer-img2 h2{
        position: absolute;
        font-size: 19px;
        color: #ABB7B7;
        bottom:287px;
        left:120px;
    }
    .footer-img2 h5{
        position: absolute;
        font-size: 19px;
        color: #ABB7B7;
        bottom:262px;
        left:120px;
    }
    
    .fb{
        position: absolute;
        height: 55px;
        width: 55px;
        background-color: #C7D300;
        bottom: 185px;
        left: 120px;
    }
    .footer-4 img{
        position: absolute;
        bottom: 180px;
        left: 115px;
    }
    .footer-4 h6{
        position: absolute;
        font-size: 17px;
        color: #ABB7B7;
        bottom:210px;
        left:190px;
    }
    .footer-4 h5{
        position: absolute;
        bottom:177px;
        font-size:28px;
        font-weight: bold;
        left: 190px;
    }
    .footer-column1 h3 {
    margin-bottom: 0px;
    position: absolute;
    left:500px;
    font-family: 'Noto Sans', sans-serif;
    font-size:25px;
    bottom:370px;
    }
    .footer-column1 ul{
        position: absolute;
	color: white;
	left: 520px;
	line-height:2.90rem;
	list-style:none;
	font-size:19px;
	bottom:140px;
    
    }
    .footer-column2 h3 {
        margin-bottom: 0px;
        position: absolute;
        left:740px;
        font-family: 'Noto Sans', sans-serif;
        font-size:25px;
        bottom:370px;
    }
    .footer-column2 p{
        position: absolute;
        color: #ABB7B7;
        left: 730px;
        line-height: 3.20rem;
        list-style:none;
        font-size:19px;
        bottom:180px;
    }
    
    .footer-column3 h3{
        margin-bottom: 0px;
        position: absolute;
        left:990px;
        font-family: 'Noto Sans', sans-serif;
        font-size:25px;
        bottom:370px;
    }
    .footer-column3 h4{
        position: absolute;
        color: #ABB7B7;
        left: 990px;
        line-height: 3.20rem;
        list-style:none;
        font-size:19px;
        bottom:312px;
    }
    .footer-column4 h3{
        position: absolute;
        color: #ABB7B7;
        left: 990px;
        line-height: 3.20rem;
        list-style:none;
        font-size:19px;
        bottom:285px;
    }
    .m2{
        bottom:496px;
        font-size: 17px;
        float:left;
        padding-left:523px;
        position: absolute;
    }
      
    .m4{
        height:48px;
        width:250px;
        font-size:15px;
        position: absolute;  
        bottom: 229px;
        border: none;
        float: left;
        left: 990px;
        color: black;
    }
    .line{
        width: 100px;
        background-color:none;
        height: 20px;
    }
    .learn9{
        position: absolute;
        border: 1px solid none; 
        border-radius:0px;
        font-size:20px;
        font-weight: bold;
        height: 48px;
        width:120px;
        bottom:229px;
        float: left;
        left:1240px;
        text-align:center;
        padding:10px;
        cursor: pointer;
        color: black;
        background-color:#C7D300;
    }
    .learn9:hover{
        background-color:#464545;
        color: black;
    }
      
    .learn9 a{
        text-decoration: none;
    }
    
    .m3 hr{
        position: absolute;
        bottom:80px;
        left:100px;
        opacity: 0.2;
    }
    .ic{
        position: absolute;
        height:40px;
        width: 40px;
        border: 2px solid grey;
        bottom:78px;
        left:635px;
        background-color:rgb(22, 22, 22);
        
    }
    .ic i{
        fill: white;
        font-size: 28px;
        color: white;
        position: absolute;
        margin-left:-35%;
        margin-top:10%;
        cursor: pointer;
    }
    .ic:hover{
        background-color: #C7D300;
    }
    .ic2{
        position: absolute;
        height:40px;
        width: 40px;
        border: 2px solid grey;
        bottom:78px;
        left:690px;
        background-color:rgb(22, 22, 22);
        
    }
    .ic2 i{
        fill: white;
        font-size: 28px;
        color: white;
        position: absolute;
        margin-left:-38%;
        margin-top:10%;
        cursor: pointer;
    }
    .ic2:hover{
        background-color: #C7D300;
    }
    .ic3{
        position: absolute;
        height:40px;
        width: 40px;
        border: 2px solid grey;
        bottom:78px;
        left:745px;
        background-color:rgb(22, 22, 22);
        
    }
    .ic3 i{
        fill: white;
        font-size: 28px;
        color: white;
        position: absolute;
        margin-left:-38%;
        margin-top:10%;
        cursor: pointer;
    }
    .ic3:hover{
        background-color: #C7D300;
    }
    .ic4{
        position: absolute;
        height:40px;
        width: 40px;
        border: 2px solid grey;
        bottom:78px;
        left:800px;
        background-color:rgb(22, 22, 22);
        
    }
    .ic4 i{
        fill: white;
        font-size: 28px;
        color: white;
        position: absolute;
        margin-left:-38%;
        margin-top:10%;
        cursor: pointer;
    }
    .ic4:hover{
        background-color: #C7D300;
    }
    .ic5{
        position: absolute;
        font-size:15px;
        left:550px;
        bottom:35px;
        color: #ABB7B7;
    }
    
    
    

